/***
  ** Custom CSS File for frequently used classes in the aviation snap courses
  ** of the edX CDOT project
  ** created by: Maggie Ha and Pavlo Kuzhel
  **/

.cdot_btnPrev {
  position: absolute;
  left: 46% !important;
  bottom: 1%;
}
.cdot_btnNext {
  position: absolute;
  left: 90% !important;
  bottom: 1%;
}
/*
.cdot_bg > img {
  max-width: 100%;
}
*/
.mid_content0 {
  bottom: 0px;
  right: 0px;
}
.gradient {
  top: 0px;
  left: 0px;
}
.mid_content1 {
  position: relative;
  left: 6% !important;
  bottom: 6% !important;

}
/* Front Paper */
.mid_content2 {
  top: 2%;
  right: 2%;
  width: 55%;
  height: 98%;
}
.mid_content2 img {
  max-height: 100%;
  position: absolute;
}
.fg_text1 {
  top: 7%;
  right: 6%;
  width: 46.5%;
  font-size: 1.1em;
}
.fg_text2 {
  top: 7%;
  right: 6%;
  width: 46.5%;
  font-size: 1.05em;
}
.fg_text3 {
  top: 7%;
  right: 6%;
  width: 46.5%;
  font-size: 1.05em;
}

.instructions {
  top: 28%;
  left: 6.5%;
  width: 35%;
}