/***
  ** Custom CSS File for frequently used classes in the aviation snap courses
  ** of the edX CDOT project
  ** created by: Maggie Ha and Pavlo Kuzhel
  **/

/*
 .cdot_pTitle1 {
   margin-bottom: 2% !important;
   position: absolute;
   top: 25%;
   width: 85%;
 }

 .cdot_pTitle1 p {
  text-align: center;
  font-weight: bold;
  font-size: 150% !important;
 }
*/

  .cdot_highlight{
    position: absolute;
    border: 7px ridge yellow;
    width: 26%;
    height: 41%;
  }
  .cdot_highlightInstruments{
    position: absolute;
    border: 7px ridge yellow;
    width: 78%;
    height: 41%;
  }
  .cdot_first{
    top: 9.5%;
    left: 10.5%;
  }
  .cdot_second{
    top: 9.5%;
    left: 36.2%;
  }
  .cdot_third{
    top: 9.5%;
    left: 62%;
  }
  .cdot_fourth{
    top: 52%;
    left: 10.5%;
  }
  .cdot_fifth{
    top: 52%;
    left: 36.2%;
  }
  .cdot_sixth{
    top: 52%;
    left: 62%;
  }
