/***
  ** Custom CSS File for frequently used classes in the aviation snap courses
  ** of the edX CDOT project
  ** created by: Maggie Ha and Pavlo Kuzhel
  **/

 /** Video **/
 .topOverlay{
   position: absolute;
   z-index: 10;
   top: 10%;
   left: 20%;
   width: 500px;
   height: 400px;
   background-color: white;
   text-align: center;
 }

 .topOverlay > video {
   padding: 20px;
   width: 90%;
   height: 60%;
 }

 /** Highlighting **/
 .cdot_highlight{
   position: absolute;
   z-index: 0;
 }
  .cdot_first{
   top: 0%;
   left: 2.5%;
   /*zoom: 71%;*/
   width: 31.5%;
 }
  .cdot_first img {
    width: 100%;   
  }
  .cdot_second{
    top: 0%;
    left: 33.3%;
    /*zoom: 69%;*/
    width: 32%;
  }
  .cdot_second img {
    width: 100%;   
  }
  .cdot_third{
    top: 0%;
    left: 64.6%;
    /*zoom: 71%;*/
    width: 33.5%;
  }
  .cdot_third img {
    width: 100%;   
  }
  .cdot_fourth{
    top: 49%;
    left: 2.5%;
    /*zoom: 70%;*/
    width: 31%;

  }
  .cdot_fourth img {
    width: 100%;   
  }
  .cdot_fifth{
    top: 49%;
    left: 33.3%;
    /*zoom: 70%;*/
    width: 31.5%;

  }
  .cdot_fifth img {
    width: 100%;   
  }
  .cdot_sixth{
    top: 49%;
    left: 64.6%;
    /*zoom: 70%;*/
    width: 33%;
  }
  .cdot_sixth img {
    width: 100%;   
  }

  #navPitchBtn {
    position: relative;
    top: 2%;
    height: 25%;

  }
  .cdot_btnShow {
    position: absolute;
    top: 15%;
    left: 5%;
  }
  #pitchL {
    position: absolute;
    top: 15%;
    left: 33%;
  }
  #pitchR {
    position: absolute;
    top: 15%;
    left: 75%;

  }
  #pitchU {
    position: absolute;
    top: 0%;
    left: 54%;

  }
  #pitchD {
    position: absolute;
    top: 40%;
    left: 54%;

  }
  #xBtn {
    position: absolute;
    top: -290%;
    left: 92%; 
    width: 9%;

  }
